/* $id$ */

/* HTML styles */
html {
  background: #FFFFFF;
}
body {
  width: 790px;  /* Total site width */
  margin: 15px auto;
  padding: 0;
  color: #000000;
  background-color: #FFFFFF;
  font: 76% arial, verdana, trebuchet ms, helvetica;
}
table {
  font-size: 100%; /* Forces font size inheritance in IE5 */
  width: 100%;
}
table thead th {
  border-bottom: 2px solid #3E3301;
  padding: 3px 4px;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
tr.odd td {
  background: #F6F4EB;
}
tr.even td {
  background: #FFFFFF;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.25em;
}
h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.7em;
  margin-bottom: 0.9em;
}
a, a:visited {
  text-decoration: none;
  font-weight: bold;
  outline: none;
  color: #053EC0;
}
a:hover {
  color: #3167E2;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #FBF9EF;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ccc;
}
cite {
  font-style: italic;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}


/* All inclusive styles */
#header,
#main,
#main-inner,
#footer {
  width: 770px;
}


/* Main content area styles */
#main {
  /* Tile for borders on both sides of main */
  background: url('images/ActaMain.png') top center repeat-y;
}
#main-top {
  /* Tile for borders on both sides of main */ 
  background: url('images/ActaMainTop.png') top center no-repeat;
}


/* Header styles */
#header {
  height: 75px;
  background: #356DF0 url('images/ActaHeader.png') bottom center no-repeat;
}
#header-logo { /* Div where the logo image is placed */
  width: 85px;
  height: 65px;
  float: left;
  margin: 10px 0 0 10px;
}
#header-logo .logo-img { /* Actual logo image - current size: 50w X 57h */
  margin: 12px 0 0 15px;  
}


/* Site info styles */
#site-info {
  width: 440px;
  height: 25px;
  padding-top: 20px; /* Height + Padding = 45px */
  float: left;
}
#site-info .site-name,
#site-info .site-slogan {
  font-size: 165%;
}
#site-info .site-name a {
  color: #FFFFFF;
}
#site-info .site-name a:hover {
  color: #DDDDFF;
  text-decoration: none;
}
#site-info .site-slogan {
  color: #000000;
}

/* Main Menu styles */
#main-menu-space { /* used to keep unwanted content from showing on the secondary links bg */
  height: 32px;
}
#main-menu #subnavlist {
  height: 30px;
  padding: 1px 35px 1px 35px; 
  margin: 0 !important;
}
#main-menu #subnavlist li {
  float: left;
  padding: 0;
  margin: 0;
  border-left: 1px solid #D4B201;
  list-style: none;
}
#main-menu #subnavlist li.last {
  border-right: 1px solid #D4B201;
}
#main-menu #subnavlist li a {
  float: left;
  height: 22px;
  padding: 9px 4px 0 4px; 
  display: block;
  color: #000;
}
#main-menu #subnavlist li a:hover {
  text-decoration: none;
  background: url('images/ActaSprites.gif') 0 -100px repeat-x;
  color: #483405;  
}
#main-menu #subnavlist li a:active,
#main-menu #subnavlist li a.active {
  background: url('images/ActaSprites.gif') 0 -65px repeat-x;
  color: #483405;
}

/* Main content area styles */
#content {         /* With sidebar */
  width: 515px;
  float: left;
  padding: 5px 10px 15px 25px; /* padding + width = 550px */
}
#content-nosb {    /* No sidebar */ 
  width: 720px;
  padding: 5px 25px 15px 25px; /* padding + width = 770px */
}
#mission {
  font-size: 130%;
  font-weight: bold;
  margin: 5px 0 0 0;
}
#bc {
  margin: 5px 0 0 5px;
}
#bc a {
  color: #000000;
}
#bc a:hover {
  color: #877777;
  text-decoration: none;
}

/* Node styles */
.node {
  margin: 0 0 30px 0;
}
.node-teaser .title {
  margin-bottom: 5px;
  padding-bottom: 7px;
  border-bottom: 1px solid #D3C26A;
}
.node-teaser img { /* remove unwanted pics from teasers - they can make things look ugly fast */ 
  display: none;
}
.node-teaser .picture img { /* Allow user avatars as they are a reasonable size */
  display: inline;
}
.node .title a:hover {
  text-decoration: none;
}
.node .content {
  margin: 12px 0;
  padding: 0 5px;
}
.node .submitted {
  padding-left: 15px;
}
.node .picture,
.node-teaser .picture,
.comment .picture {
  display: inline;
  float: left;
  margin: 15px 7px 3px 5px;
}
.node-links, /* Ensures the picture doesnt protrude */
.comment-links {
  clear: both;
  margin-bottom: 0;
} 
/* Node icons - icons gathered from the amadou theme */
.content-inner .terms {
  padding: 4px 0 4px 20px;
  background: url('images/icons/tag_blue.gif') no-repeat 0 6px;
}
.content-inner .node_read_more a {
	background: url('images/icons/page_white.gif') no-repeat;
	padding-bottom: 7px;
	padding-left: 20px;
	display: block;
}
.content-inner .comment_comments a {
  background: url('images/icons/comment.gif') no-repeat 0 2px;
	padding-bottom: 7px;
	padding-left: 20px;
	display: block;
}
.content-inner .comment_add a,.comment_reply a {
	background: url('images/icons/comment_add.gif') no-repeat;
	padding-bottom: 7px;
	padding-left: 20px;
	display: block;
}
.content-inner .comment_delete a {
	background: url('images/icons/comment_delete.gif') no-repeat;
	padding-bottom: 7px;
	padding-left: 20px;
	display: block;
}
.content-inner .comment_edit a {
	background:url('images/icons/comment_edit.gif') no-repeat;
	padding-bottom: 7px;
	padding-left: 20px;
	display: block;
}

/* Comment styles */
.comment {
  margin: 0 0 30px 0;
}
.comment .comment-title {
  margin-bottom: 10px;
}
.comment .comment-title h3 {
  margin-top: 5px;
  border-bottom: 1px solid #D3C26A;
}
.comment .comment-title a:hover {
  text-decoration: none;
}
.comment .new {
  color: #F1B414;
  font-weight: bold;
  font-size: 120%;
  text-align: right;
}
.comment .content {
  margin: 12px 0;
  padding: 0 5px;
}
.comment .submitted {
  padding-left: 15px;
}

/* Forum styles */
#forum td {
  border: 1px solid #9A8F57;;
}
#forum .container {
  padding: 7px 10px;
  background: #E4DAA6 url('images/ActaSprites.gif') center -250px repeat-x;
}
#forum .container a {
  color: #000000;
}
#forum tr.odd .topics, 
#forum tr.odd .posts {
  background: #E8E3CC; 
}
#forum tr.even .topics, 
#forum tr.even .posts {
  background: #F7F5EC; 
}

/* Pager styles */
.pager {
  margin-top: 10px;
}
.pager a {
  color: #000000;
  border: 1px solid #4489F6;
  padding: 2px 3px;
  margin: 0 3px;
}
.pager a:hover {
  text-decoration: none;
  background: #E9F1FF;
}
.pager .pager-list .pager-current {
  border: 1px solid #9ABEF8;
  padding: 2px 3px;
  margin: 0 3px;
}


/* Sidebar styles */
#sidebar {
  width: 203px;
  float: left;
  padding-right: 15px; /* padding + width = 220px */
}
#sidebar-inner {
  padding-right: 10px;
}
#sidebar-inner .block {
  margin: 12px 0 10px 0;
}
#sidebar-inner .block-top {
  background: url('images/ActaBlockTop.gif') top center no-repeat;
}
#sidebar-inner .block-top h2 {
  margin: 0 4px;
  padding: 7px 5px 3px 5px;
  border-bottom: 1px solid #D0E1FC;
}
#sidebar-inner .block-content {
  padding: 2px 12px;
  background: url('images/ActaBlockContent.gif') center repeat-y;
}
#sidebar-inner .block-bottom {
  background: url('images/ActaBlockBottom.gif') bottom center no-repeat;
  height: 9px;
  line-height: 9px;
}
#sidebar .item-list ul li { /* Standardize the display of menues */
  list-style-type: square;
  list-style-image: url(../../misc/menu-leaf.png);
  margin: 0 0 0.25em 0.5em;
  padding: 0;
}

/* Footer styles */
#footer {
  background: url('images/ActaMain.png') top center repeat-y;
}
#footer-bottom {
  background: url('images/ActaFooterBottom.png') bottom center no-repeat;
  padding: 5px 25px 20px 25px;
  text-align: center;
  width: 720px;
}

/* admin styles */
.admin .clear-block {
  display: inline;
}
.admin-panel h3 {
  padding: 3px 5px;
  border: 1px solid #222222;
  background: #224BEA;
  color: #FFFFFF;
  margin: 10px 0 0 0;
}
.admin-panel .body {
  border-left: 1px solid #222222;
  border-bottom: 1px solid #222222;
  border-right: 1px solid #222222;
  background: #F0F6FF;
  margin: 0 2px 5px 2px;
}
.admin-panel .body dl dd {
  margin: 5px 0 7px 10px;
  padding: 3px;
}
.admin-panel .body ul {
  padding: 0 5px 0 15px;
  margin: 7px 0;
}
.admin-panel .body ul li {
  margin: 2px 0;
  padding: 0;
}

/* Misc styles */
.messages {
  font-size: 130%;
  font-weight: bold;
  padding: 7px;
  margin: 10px 0; 
}
div.status {
  color: #3a3;
  border: 2px solid #3a3;
}
div.error, tr.error {
  color: red;
  border: 2px solid red;
  background: #fff; 
}
